awscli==1.22.34
blinker==1.4
botocore==1.23.34
certifi==2020.6.20
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
docutils==0.17.1
filelock==3.13.1
fsspec==2024.6.1
hf-xet==1.1.10
httplib2==0.20.2
huggingface-hub==0.34.4
idna==3.3
importlib-metadata==4.6.4
jeepney==0.7.1
Jinja2==3.1.4
jmespath==0.10.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.1.5
more-itertools==8.10.0
mpmath==1.3.0
natsort==8.4.0
networkx==3.3
numpy==2.1.2
oauthlib==3.2.0
packaging==25.0
pillow==11.0.0
pyasn1==0.4.8
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu4
python-dateutil==2.8.1
PyYAML==5.4.1
regex==2025.9.1
requests==2.25.1
roman==3.3
rsa==4.8
s3transfer==0.5.0
safetensors==0.6.2
SecretStorage==3.3.1
setuptools==59.6.0
six==1.16.0
sympy==1.13.3
tokenizers==0.22.0
tqdm==4.67.1
transformers==4.56.1
triton==3.3.1
typing_extensions==4.12.2
urllib3==1.26.5
wadllib==1.3.6
wheel==0.37.1
zipp==1.0.0
